@charset "UTF-8";
/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body {
  overflow-x: hidden;
  font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  line-height: 1.75;
  text-align: justify;
  font-size: 16px;
  color: #111;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/*　パディングをサイズ内側にする処理　*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/
/* ------------------------------------

cmn設定

------------------------------------ */
@media print, screen and (max-width: 760px) {
  .pc {
    display: none !important;
  }

  .sp-mini {
    display: none !important;
  }
}
@media screen and (max-width: 320px) {
  .sp-mini {
    display: inherit !important;
  }
}
@media print, screen and (min-width: 761px) {
  .sp {
    display: none !important;
  }

  .sp-mini {
    display: none !important;
  }
}
a {
  color: inherit;
}
a:hover img {
  opacity: 0.7;
}

body {
  position: relative;
}

body.win {
  background: yellow;
}

body.lose {
  background: blue;
}

.title_section {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}
.title_section h1 {
  line-height: 1;
  margin-bottom: 0;
}

.result_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.result_section .my_result {
  width: 400px;
  margin: 0 3%;
  position: relative;
  height: 400px;
}
.result_section .my_result div {
  position: absolute;
  top: 0;
  left: 0;
  animation: coma3 0.75s linear infinite;
  will-change: opacity;
  backface-visibility: hidden;
}
.result_section .my_result div:nth-of-type(1) {
  animation-delay: 0s;
}
.result_section .my_result div:nth-of-type(2) {
  animation-delay: 0.25s;
}
.result_section .my_result div:nth-of-type(3) {
  animation-delay: 0.5s;
}
.result_section .my_result div img {
  width: 100%;
}
.result_section .my_result div.fixed {
  animation: none;
  opacity: 1;
}
.result_section .pc_result {
  width: 400px;
  margin: 0 3%;
  position: relative;
  height: 400px;
}
.result_section .pc_result div {
  position: absolute;
  top: 0;
  left: 0;
  animation: coma3 0.75s linear infinite;
  will-change: opacity;
  backface-visibility: hidden;
}
.result_section .pc_result div:nth-of-type(1) {
  animation-delay: 0s;
}
.result_section .pc_result div:nth-of-type(2) {
  animation-delay: 0.25s;
}
.result_section .pc_result div:nth-of-type(3) {
  animation-delay: 0.5s;
}
.result_section .pc_result div img {
  width: 100%;
}
.result_section .pc_result div.fixed {
  animation: none;
  opacity: 1;
}

@keyframes coma3 {
  0%, 33% {
    opacity: 1;
  }
  34%, 100% {
    opacity: 0;
  }
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.name div {
  width: 400px;
  margin: 0 3%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.select_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.select_section button {
  cursor: pointer;
}
.select_section .btn {
  margin: 0 10px;
  width: 300px;
  height: 80px;
  background: #ccc;
  text-align: center;
  border: 1px solid #bbb;
  line-height: 80px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
}
.select_section .btn:hover {
  background: #111;
  color: #fff;
}

.select_reset {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.select_reset button {
  cursor: pointer;
}
.select_reset .btn {
  margin: 0 10px;
  width: 200px;
  height: 50px;
  background: #fff;
  text-align: center;
  border: 1px solid #bbb;
  line-height: 50px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
}
.select_reset .btn:hover {
  background: #aaa;
  color: #fff;
}

.marquee-container_win {
  display: none;
  align-items: center;
  padding-left: 100%;
  animation: scrollLeft 5s linear infinite;
  font-size: 300px;
  font-weight: bold;
  height: 300px;
  line-height: 1;
  color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
}
.marquee-container_win span {
  display: inline-block;
}
.marquee-container_win.current {
  display: flex;
}

.marquee-container_lose {
  display: none;
  align-items: center;
  padding-left: 100%;
  animation: scrollLeft 5s linear infinite;
  font-size: 300px;
  font-weight: bold;
  height: 300px;
  line-height: 1;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
}
.marquee-container_lose span {
  display: inline-block;
}
.marquee-container_lose.current {
  display: flex;
}

.marquee-container_hikiwake {
  display: none;
  align-items: center;
  padding-left: 100%;
  animation: scrollLeft 5s linear infinite;
  font-size: 300px;
  font-weight: bold;
  height: 300px;
  line-height: 1;
  color: #222;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
}
.marquee-container_hikiwake span {
  display: inline-block;
}
.marquee-container_hikiwake.current {
  display: flex;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=style.css.map */
